uvicorn 
langgraph
python-dotenv
langchain-groq
langchain-community
langchain-core
requests 
python-dotenv
spacy 

pymupdf
aiofiles
python-multipart
fastapi
langchain
langchain-google-genai
langchain-groq


