*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
   background:rgba(41,70,70,.95);
}

.main-container{
  min-height: 100vh;
  width: 100%;
  background-color: rgba(41, 70, 70, 0.95);
  
}

.nav-container{
  padding-top: 15px;
  padding-left: 8px;
  padding-right: 8px;
}
.navbar-container{
  width: 100%;
  min-height: 70px;
  background-color: rgb(24, 46, 46);
 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  box-shadow: 0px 20px 20px 0px rgba(116, 177, 168, 0.679);;
  border-radius: 20px;
  flex-wrap: wrap;
  border: 3px rgb(249, 252, 252) solid;
}


.logo-container{
  display: flex;
  
  align-items: center;
  gap: 10px;

}
.logo-container img{
  height: 45px;
  width: 45px;
  border-radius: 20px;

}
.logo-container h2{
  font-size: 1.4rem;
  color: azure;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.links{
  
  
  display: flex;
  
  align-items: center;
  
  gap: 30px;
  
}

.links a{
  color: azure;
  text-decoration: none;
  font-size: 19px;
  
}

.sing-up-container{
  display: flex;
  gap: 15px;
  
}

.login{
 padding: 8px 15px;
  border-radius: 10px;
  font-size: 15px;
  background-color: cadetblue;
  color: azure;
  cursor: pointer;
}
.sing{
  padding: 8px 15px;
  border-radius: 10px;
  font-size: 15px;
  background-color: cadetblue;
  color: azure;
  cursor: pointer;

}

.login:hover{
  color: black;
}

.sing:hover{
  color: black;
}

.links a:hover{
  color: black;
}



@media (max-width:992px){

.links{
    gap:20px;
}

.links a{
    font-size:16px;
}

.logo-container h2{
    font-size:20px;
}

.login,
.sing{
    padding:6px 12px;
}

}



@media (max-width:768px){

.links{
    display:none;
}

.sing-up-container{
    display:none;
}

.logo-container h2{
    font-size:18px;
}

}

/* menu-icon */
.menu-icon{
    display:none;
    font-size:30px;
    color:white;
    cursor:pointer;
}

@media (max-width:768px){

.menu-icon{
    display:block;
}

.links,
.sing-up-container{
    display:none;
}

}


/*  middle part ka code yhaa hai  */

.middle-container{
  padding-top:60px;
  min-height:calc(100vh - 70px);
  padding: 40px 5%;
  
}

.middle-part-left{
 
  
  flex:1;
  min-width:300px;
  margin:0;
  padding:10px;
 
 

}
.middle-part-left h1{
  font-size:clamp(45px,8vw,90px);

  font-weight:700;

  color:azure;

  line-height:1.1;

  font-family:'Franklin Gothic Medium','ArialNarrow',Arial,sans-serif;


}

.para p{
   
  line-height:1.7;
  font-size:18px;

  color:#e7f6f5;
}

.highlight{
  color: rgb(15, 39, 39);
 text-shadow: 3px 3px 3px rgba(255, 254, 254, 0.954);
}
.middle-part-right{
  
  flex:1;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:20px;
  margin:0;
  
  
}
.middle-part-right img{

width:100%;
max-width:600px;
height:auto;
border-radius:30px;
transition:.4s;
cursor:pointer;
box-shadow:0 0 20px 10px rgba(134,198,188,.86);

}



.middle-part-right img:hover{
    transform:translateY(-10px);
}


.middle-part{
  display: flex;
  
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

@media (max-width:992px){

.middle-part{

    flex-direction:column;

    text-align:center;

}

.middle-part-left{

    order:1;

}

.middle-part-right{

    order:2;

}

.middle-part-left h1{

    font-size:60px;

}

}

@media (max-width:576px){

.middle-container{

    padding:20px;

}

.middle-part-left h1{

    font-size:42px;

}

.para p{

    font-size:15px;

}

.middle-part-right img{

    max-width:100%;

    border-radius:20px;

}

}

.footer{
  height: 50px;
  width: 100%;
  background-color: rgb(24, 46, 46);
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
    
}

.footer p{
  color: azure;
}


/* Resume analuzer page ka css */


.resume-container{
  width: 100%;
  height: 100vh;
  

}

.resume-header{
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;

}
.resume-header h1{
  color: azure;
  padding-top: 20px;
}

.resume-upload{
  width: 100%;
 

  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.upload-file{
background-color: rgb(36, 60, 61);
min-width: 400px;
height: 300px;
margin-top: 40px;
border-radius: 20px;
border: 2px rgb(221, 250, 250) dashed ;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.353);
}

.job-desc-container{
 
  margin-top: 40px;
  min-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  


}
.job-desc-container h2{
  padding: 7px;
  color: rgb(224, 237, 237);
  
}

.job-desc-input{
  width: 100%;
  height: 150px;
  border-radius: 12px;
  background-color: rgba(132, 150, 154, 0.523);
  color: rgb(3, 3, 3);
  border: 2px solid white;
  box-shadow: 3px 3px 3px 5px white;
}
textarea {
 color: black;
 border: none;
}
::placeholder{
  color: black;
  padding: 7px;
}

.uploadbtn{
  background-color: darkcyan;
  padding: 10px 15px;
  font-size: 18px;
  margin-top: 50px;
  border-radius: 16px;
  color: azure;
  
}

.text-container{
  padding: 20px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  text-align: center;
  flex-wrap: wrap;
  
}
.text-container h3{
 color: rgb(218, 238, 238);
}

.analyze-btn{
 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;

  
}


.analyze-btn button{
  background-color: darkcyan;
  padding: 10px 20px;
  border-radius: 10px;
  border: 0px solid rgb(102, 209, 207);
  box-shadow: 3px 3px 5px 0px white;
  color: azure;



}

/* Resume result page ka css */

.dashboard-top{

display:flex;
justify-content:center;
gap:40px;
 margin:40px 0;
flex-wrap:wrap;

}

.circle-card{

background:white;
width:220px;
padding:25px;
border-radius:20px;
text-align:center;
box-shadow:0 10px 30px rgba(0,0,0,.08);

}

.circle{

width:160px;
height:160px;
border-radius:50%;
display:flex;
justify-content:center;
align-items:center;
margin:auto;

}

.circle-inner{

width:125px;
height:125px;
background:white;
border-radius:50%;
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;

}

.circle-inner h2{

font-size:34px;
color:#2563eb;

}

.circle-card h3{

    margin-top:18px;

    color:#444;

}

.result-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    flex-wrap:wrap;

    gap:20px;

}

.reset-btn{

    background:#2563eb;

    color:white;

    border:none;

    padding:12px 20px;

    border-radius:10px;

    cursor:pointer;

    font-size:15px;

}

.reset-btn:hover{

    background:#1d4ed8;

}

.summary-card{

    margin-bottom:30px;

}

.result-card{

    background:white;

    padding:25px;

    border-radius:18px;

    box-shadow:0 8px 25px rgba(0,0,0,.08);

}

.result-middle{

    background:#f5f7fb;

    min-height:100vh;

    padding:40px;

}

.result-container{

    max-width:1200px;

    margin:auto;

}